<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belote</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    {% if name == "" %}
    <h1 class="text-primary">DEALER PAGE</h1>
            <a class="btn btn-primary btn-lg" href="{% url 'newdeal-belote' %}">Nouvelle donne</a>
            {% for key, value in d.items %}
            <h1><a href="{% url 'name-belote' key %}">{{key}}</a></h1>
                <div class="row">
                    {% for i in value %}
                        {% for a, b in card_img.items %}
                            {% if a == i %} <img class="mt-2 mb-2 ml-5" src="{% static b %}" height="90px" width="67px">{% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
    {% else %}
    <h1>Cartes distribuées à {{name}}</h1>
    <a class="btn btn-secondary btn-lg disabled mb-5" href="{% url 'newdeal-belote' %}">Nouvelle donne</a>
        {% for key, value in d.items %}
            {% if key == name %}
            <div class="row bg-success">
                {% for i in value %}
                    {% for a, b in card_img.items %}
                        {% if a == i %}
                                <div class="col">
                                    <img class="mt-5 mb-5 ml-3 mr-1" src="{% static b %}" height="160px" width="120px">
                                </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>
</html>