{% extends 'home.html' %}
{% load static %}

{% block title %} Toc {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-primary">DEALER PAGE</h1>
    <div class="row">
        <div class="col">
            <h2>Tour de distribution #{{tour}} en cours</h2>
            <a class="btn btn-primary btn-lg" href="{% url 'newdeal-toc' %}">Nouvelle donne</a>
        </div>

        <div class="col">
            <h2>Changer le tour en cours</h2>
                <form action="{% url 'toc-tour' tour %}" method="POST">
                    {% csrf_token %}
                    {{ tourform }}
                    <input type="submit" values="Submit" class="btn btn-primary btn-lg ml-1">
                </form>
        </div>

    </div>

        {% for key, dict in d.items %}
            <h1><a href="{% url 'name-toc' key %}">{{key}}</a></h1>
                <div class="row">
                    {% for i, hand in dict.items %}
                        {% if i == tour %}
                            <div class="col bg-success text-center">
                                {% for j in hand %}
                                    {% for a, b in card_img.items %}
                                        {% if a == j %} <img class="mt-2 mb-2 ml-2" src="{% static b %}" height="90px" width="67px">{% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="col text-center">
                                {% for j in hand %}
                                    {% for a, b in card_img.items %}
                                        {% if a == j %} <img class="mt-2 mb-2 ml-2" src="{% static b %}" height="90px" width="67px">{% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        {% endfor %}
</div>
{% endblock %}