{% extends 'home.html' %}
{% load static %}

{% block title %} Toc {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>GAME SETUP AND NEW CARDS DEAL</h1>
    <a class="btn btn-success btn-lg mt-5 mb-5" href="{% url 'toc' %}">Voir la nouvelle donne</a>


    <h5>Vous pouvez changer le nom des joueurs avec ce formulaire au besoin...</h5>
    <form action="{% url 'newdeal-toc' %}" method="post">
    {% csrf_token %}
    {{ playerform.as_p }}
    <input type="submit" values="Submit">
    </form>
</div>
{% endblock %}