{% extends 'home.html' %}
{% load static %}

{% block title %} Toc {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Cartes distribuées à {{name}} - {{tour}}</h1>
    <a class="btn btn-secondary btn-lg disabled mb-5" href="{% url 'newdeal-toc' %}">Nouvelle donne</a>
        {% for key, dict in d.items %}
            {% if key == name %}
            <div class="row bg-success">
                {% for i, hand in dict.items %}
                    {% if i == tour %}
                        {% for j in hand %}
                            {% for a, b in card_img.items %}
                                {% if a == j %}
                                    <div class="col text-center">
                                        <img class="mt-5 mb-5 ml-3 mr-1" src="{% static b %}" height="160px" width="120px">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
</div>
{% endblock %}